IMPORTING LIBRARIES AND CSV DATA

In [86]:
#importing relevant libraries
import pandas as pd
df = pd.read_csv('Aviation_Data.csv',index_col=0)

print(df.head())

               Investigation.Type Accident.Number  Event.Date  \
Event.Id
20001218X45444           Accident      SEA87LA080  1948-10-24
20001218X45447           Accident      LAX94LA336  1962-07-19
20061025X01555           Accident      NYC07LA005  1974-08-30
20001218X45448           Accident      LAX96LA321  1977-06-19
20041105X01764           Accident      CHI79FA064  1979-08-02

                       Location        Country Latitude Longitude  \
Event.Id
20001218X45444  MOOSE CREEK, ID  United States      NaN       NaN
20001218X45447   BRIDGEPORT, CA  United States      NaN       NaN
20061025X01555    Saltville, VA  United States  36.9222  -81.8781
20001218X45448       EUREKA, CA  United States      NaN       NaN
20041105X01764       Canton, OH  United States      NaN       NaN

               Airport.Code Airport.Name Injury.Severity  ...  \
Event.Id                                                  ...
20001218X45444          NaN          NaN        Fatal(2)  ...
20001218X45447          NaN          NaN        Fatal(4)  ...
20061025X01555          NaN          NaN        Fatal(3)  ...
20001218X45448          NaN          NaN        Fatal(2)  ...
20041105X01764          NaN          NaN        Fatal(1)  ...

               Purpose.of.flight Air.carrier Total.Fatal.Injuries  \
Event.Id
20001218X45444          Personal         NaN                  2.0
20001218X45447          Personal         NaN                  4.0
20061025X01555          Personal         NaN                  3.0
20001218X45448          Personal         NaN                  2.0
20041105X01764          Personal         NaN                  1.0

               Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
Event.Id
20001218X45444                    0.0                  0.0             0.0
20001218X45447                    0.0                  0.0             0.0
20061025X01555                    NaN                  NaN             NaN
20001218X45448                    0.0                  0.0             0.0
20041105X01764                    2.0                  NaN             0.0

                Weather.Condition Broad.phase.of.flight   Report.Status  \
Event.Id
20001218X45444                UNK                Cruise  Probable Cause
20001218X45447                UNK               Unknown  Probable Cause
20061025X01555                IMC                Cruise  Probable Cause
20001218X45448                IMC                Cruise  Probable Cause
20041105X01764                VMC              Approach  Probable Cause

               Publication.Date
Event.Id
20001218X45444              NaN
20001218X45447       19-09-1996
20061025X01555       26-02-2007
20001218X45448       12-09-2000
20041105X01764       16-04-1980

[5 rows x 30 columns]

c:\Users\HP\anaconda3\envs\env-learn\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [87]:
#overview of data breakdown in rows and columns with their total values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90348 entries, 20001218X45444 to 20221230106513
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      90348 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Latitude                34382 non-null  object
 6   Longitude               34373 non-null  object
 7   Airport.Code            50249 non-null  object
 8   Airport.Name            52790 non-null  object
 9   Injury.Severity         87889 non-null  object
 10  Aircraft.damage         85695 non-null  object
 11  Aircraft.Category       32287 non-null  object
 12  Registration.Number     87572 non-null  object
 13  Make                    88826 non-null  object
 14  Model                   88797 non-null  object
 15  Amateur.Built           88787 non-null  object
 16  Number.of.Engines       82805 non-null  float64
 17  Engine.Type             81812 non-null  object
 18  FAR.Description         32023 non-null  object
 19  Schedule                12582 non-null  object
 20  Purpose.of.flight       82697 non-null  object
 21  Air.carrier             16648 non-null  object
 22  Total.Fatal.Injuries    77488 non-null  float64
 23  Total.Serious.Injuries  76379 non-null  float64
 24  Total.Minor.Injuries    76956 non-null  float64
 25  Total.Uninjured         82977 non-null  float64
 26  Weather.Condition       84397 non-null  object
 27  Broad.phase.of.flight   61724 non-null  object
 28  Report.Status           82508 non-null  object
 29  Publication.Date        73659 non-null  object
dtypes: float64(5), object(25)
memory usage: 21.4+ MB

In [88]:
#checking blank values
missing_values = df.isnull().sum()
missing_values

Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

INDEXING & SLICING INTO COLUMNS

In [89]:
#Indexing into column Investigation type to see the total counts of each entry
df['Investigation.Type'].value_counts()

Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
11-02-2021        1
04-03-2021        1
11-12-2020        1
13-09-2021        1
05-01-2021        1
Name: Investigation.Type, Length: 71, dtype: int64

In [90]:
#Indexing into column Aircraft Damage to see the total counts of each entry
df['Aircraft.damage'].value_counts()

Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

DATA MANIPULATION AND CLEANING

#Dropping Blanks in Rows and Unnecessary Columns, Replacing missing values

In [91]:
#dropping blank rows in column Amateur.Built because there are two boolean values
#assigning a new variable name dfnew to the DataFrame df 
dfnew= df.dropna(subset=['Amateur.Built','Location','Country'])

print (dfnew)

               Investigation.Type Accident.Number  Event.Date  \
Event.Id
20001218X45444           Accident      SEA87LA080  1948-10-24
20001218X45447           Accident      LAX94LA336  1962-07-19
20061025X01555           Accident      NYC07LA005  1974-08-30
20001218X45448           Accident      LAX96LA321  1977-06-19
20041105X01764           Accident      CHI79FA064  1979-08-02
...                           ...             ...         ...
20221227106491           Accident      ERA23LA093  2022-12-26
20221227106494           Accident      ERA23LA095  2022-12-26
20221227106497           Accident      WPR23LA075  2022-12-26
20221227106498           Accident      WPR23LA076  2022-12-26
20221230106513           Accident      ERA23LA097  2022-12-29

                       Location        Country Latitude Longitude  \
Event.Id
20001218X45444  MOOSE CREEK, ID  United States      NaN       NaN
20001218X45447   BRIDGEPORT, CA  United States      NaN       NaN
20061025X01555    Saltville, VA  United States  36.9222  -81.8781
20001218X45448       EUREKA, CA  United States      NaN       NaN
20041105X01764       Canton, OH  United States      NaN       NaN
...                         ...            ...      ...       ...
20221227106491    Annapolis, MD  United States      NaN       NaN
20221227106494      Hampton, NH  United States      NaN       NaN
20221227106497       Payson, AZ  United States  341525N  1112021W
20221227106498       Morgan, UT  United States      NaN       NaN
20221230106513       Athens, GA  United States      NaN       NaN

               Airport.Code Airport.Name Injury.Severity  ...  \
Event.Id                                                  ...
20001218X45444          NaN          NaN        Fatal(2)  ...
20001218X45447          NaN          NaN        Fatal(4)  ...
20061025X01555          NaN          NaN        Fatal(3)  ...
20001218X45448          NaN          NaN        Fatal(2)  ...
20041105X01764          NaN          NaN        Fatal(1)  ...
...                     ...          ...             ...  ...
20221227106491          NaN          NaN           Minor  ...
20221227106494          NaN          NaN             NaN  ...
20221227106497          PAN       PAYSON       Non-Fatal  ...
20221227106498          NaN          NaN             NaN  ...
20221230106513          NaN          NaN           Minor  ...

               Purpose.of.flight         Air.carrier Total.Fatal.Injuries  \
Event.Id
20001218X45444          Personal                 NaN                  2.0
20001218X45447          Personal                 NaN                  4.0
20061025X01555          Personal                 NaN                  3.0
20001218X45448          Personal                 NaN                  2.0
20041105X01764          Personal                 NaN                  1.0
...                          ...                 ...                  ...
20221227106491          Personal                 NaN                  0.0
20221227106494               NaN                 NaN                  0.0
20221227106497          Personal                 NaN                  0.0
20221227106498          Personal  MC CESSNA 210N LLC                  0.0
20221230106513          Personal                 NaN                  0.0

               Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
Event.Id
20001218X45444                    0.0                  0.0             0.0
20001218X45447                    0.0                  0.0             0.0
20061025X01555                    NaN                  NaN             NaN
20001218X45448                    0.0                  0.0             0.0
20041105X01764                    2.0                  NaN             0.0
...                               ...                  ...             ...
20221227106491                    1.0                  0.0             0.0
20221227106494                    0.0                  0.0             0.0
20221227106497                    0.0                  0.0             1.0
20221227106498                    0.0                  0.0             0.0
20221230106513                    1.0                  0.0             1.0

                Weather.Condition Broad.phase.of.flight   Report.Status  \
Event.Id
20001218X45444                UNK                Cruise  Probable Cause
20001218X45447                UNK               Unknown  Probable Cause
20061025X01555                IMC                Cruise  Probable Cause
20001218X45448                IMC                Cruise  Probable Cause
20041105X01764                VMC              Approach  Probable Cause
...                           ...                   ...             ...
20221227106491                NaN                   NaN             NaN
20221227106494                NaN                   NaN             NaN
20221227106497                VMC                   NaN             NaN
20221227106498                NaN                   NaN             NaN
20221230106513                NaN                   NaN             NaN

               Publication.Date
Event.Id
20001218X45444              NaN
20001218X45447       19-09-1996
20061025X01555       26-02-2007
20001218X45448       12-09-2000
20041105X01764       16-04-1980
...                         ...
20221227106491       29-12-2022
20221227106494              NaN
20221227106497       27-12-2022
20221227106498              NaN
20221230106513       30-12-2022

[88514 rows x 30 columns]

In [92]:

#checking blank values
missing_values = dfnew.isnull().sum()
missing_values

Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Latitude                  54168
Longitude                 54177
Airport.Code              38344
Airport.Name              35816
Injury.Severity            1000
Aircraft.damage            3155
Aircraft.Category         56266
Registration.Number        1224
Make                         60
Model                        89
Amateur.Built                 0
Number.of.Engines          5970
Engine.Type                6988
FAR.Description           56532
Schedule                  76120
Purpose.of.flight          6112
Air.carrier               71925
Total.Fatal.Injuries      11311
Total.Serious.Injuries    12395
Total.Minor.Injuries      11813
Total.Uninjured            5826
Weather.Condition          4425
Broad.phase.of.flight     27038
Report.Status              6381
Publication.Date          15151
dtype: int64

In [93]:
#progress check
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88514 entries, 20001218X45444 to 20221230106513
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88514 non-null  object
 1   Accident.Number         88514 non-null  object
 2   Event.Date              88514 non-null  object
 3   Location                88514 non-null  object
 4   Country                 88514 non-null  object
 5   Latitude                34346 non-null  object
 6   Longitude               34337 non-null  object
 7   Airport.Code            50170 non-null  object
 8   Airport.Name            52698 non-null  object
 9   Injury.Severity         87514 non-null  object
 10  Aircraft.damage         85359 non-null  object
 11  Aircraft.Category       32248 non-null  object
 12  Registration.Number     87290 non-null  object
 13  Make                    88454 non-null  object
 14  Model                   88425 non-null  object
 15  Amateur.Built           88514 non-null  object
 16  Number.of.Engines       82544 non-null  float64
 17  Engine.Type             81526 non-null  object
 18  FAR.Description         31982 non-null  object
 19  Schedule                12394 non-null  object
 20  Purpose.of.flight       82402 non-null  object
 21  Air.carrier             16589 non-null  object
 22  Total.Fatal.Injuries    77203 non-null  float64
 23  Total.Serious.Injuries  76119 non-null  float64
 24  Total.Minor.Injuries    76701 non-null  float64
 25  Total.Uninjured         82688 non-null  float64
 26  Weather.Condition       84089 non-null  object
 27  Broad.phase.of.flight   61476 non-null  object
 28  Report.Status           82133 non-null  object
 29  Publication.Date        73363 non-null  object
dtypes: float64(5), object(25)
memory usage: 20.9+ MB

In [94]:
#Dropping Columns that will not be fundamental for analysis
dfclean = dfnew.copy(dfnew.drop(columns=[
    #'Registration.Number', 
    'Model',
    'Schedule', 
    'Report.Status', 
    'Airport.Code',
    'FAR.Description',
    'Publication.Date',

], inplace=True, errors='ignore'))

c:\Users\HP\anaconda3\envs\env-learn\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [95]:
dfclean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88514 entries, 20001218X45444 to 20221230106513
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88514 non-null  object
 1   Accident.Number         88514 non-null  object
 2   Event.Date              88514 non-null  object
 3   Location                88514 non-null  object
 4   Country                 88514 non-null  object
 5   Latitude                34346 non-null  object
 6   Longitude               34337 non-null  object
 7   Airport.Name            52698 non-null  object
 8   Injury.Severity         87514 non-null  object
 9   Aircraft.damage         85359 non-null  object
 10  Aircraft.Category       32248 non-null  object
 11  Registration.Number     87290 non-null  object
 12  Make                    88454 non-null  object
 13  Amateur.Built           88514 non-null  object
 14  Number.of.Engines       82544 non-null  float64
 15  Engine.Type             81526 non-null  object
 16  Purpose.of.flight       82402 non-null  object
 17  Air.carrier             16589 non-null  object
 18  Total.Fatal.Injuries    77203 non-null  float64
 19  Total.Serious.Injuries  76119 non-null  float64
 20  Total.Minor.Injuries    76701 non-null  float64
 21  Total.Uninjured         82688 non-null  float64
 22  Weather.Condition       84089 non-null  object
 23  Broad.phase.of.flight   61476 non-null  object
dtypes: float64(5), object(19)
memory usage: 16.9+ MB

Replacing Missing Values in Categorical Data

In [105]:
dfcleanfinal =dfnew.copy()
#Replace missing values in categorical data with unknown an existing value instead of dropping
#filling in the categorical columns with unknown

newdata = [
    'Location', 'Country', 'Airport.Name',
    'Injury.Severity', 'Aircraft.damage', 'Registration.Number',
    'Amateur.Built', 'Number.of.Engines', 'Engine.Type','Purpose.of.flight',
    'Air.carrier', 'Weather.Condition', 'Broad.phase.of.flight','Aircraft.Category','Make'
    
]


# Apply the fillna() to the entire list
dfnew[newdata] = dfnew[newdata].fillna('UNKNOWN')

In [ ]:
#Progress Check
#checking blank values
missing_values = dfcleanfinal.isnull().sum()
missing_values

Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Latitude                  54168
Longitude                 54177
Airport.Name                  0
Injury.Severity               0
Aircraft.damage               0
Aircraft.Category             0
Registration.Number           0
Make                          0
Amateur.Built                 0
Number.of.Engines             0
Engine.Type                   0
Purpose.of.flight             0
Air.carrier                   0
Total.Fatal.Injuries      11311
Total.Serious.Injuries    12395
Total.Minor.Injuries      11813
Total.Uninjured            5826
Weather.Condition             0
Broad.phase.of.flight         0
dtype: int64

In [107]:
dfcleanfinal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88514 entries, 20001218X45444 to 20221230106513
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88514 non-null  object
 1   Accident.Number         88514 non-null  object
 2   Event.Date              88514 non-null  object
 3   Location                88514 non-null  object
 4   Country                 88514 non-null  object
 5   Latitude                34346 non-null  object
 6   Longitude               34337 non-null  object
 7   Airport.Name            88514 non-null  object
 8   Injury.Severity         88514 non-null  object
 9   Aircraft.damage         88514 non-null  object
 10  Aircraft.Category       88514 non-null  object
 11  Registration.Number     88514 non-null  object
 12  Make                    88514 non-null  object
 13  Amateur.Built           88514 non-null  object
 14  Number.of.Engines       88514 non-null  object
 15  Engine.Type             88514 non-null  object
 16  Purpose.of.flight       88514 non-null  object
 17  Air.carrier             88514 non-null  object
 18  Total.Fatal.Injuries    77203 non-null  float64
 19  Total.Serious.Injuries  76119 non-null  float64
 20  Total.Minor.Injuries    76701 non-null  float64
 21  Total.Uninjured         82688 non-null  float64
 22  Weather.Condition       88514 non-null  object
 23  Broad.phase.of.flight   88514 non-null  object
dtypes: float64(4), object(20)
memory usage: 16.9+ MB

DATA CLEANING OF NUMERICAL VALUES

In [115]:
#Convert to numeric and fill NaN with Sentinel Value (-9999.0)
dfcleanfinal['Latitude'] = pd.to_numeric(dfcleanfinal['Latitude'], errors='coerce').fillna(-9999.0)
dfcleanfinal['Longitude'] = pd.to_numeric(dfcleanfinal['Longitude'], errors='coerce').fillna(-9999.0)

In [116]:
dfcleanfinal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88514 entries, 20001218X45444 to 20221230106513
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88514 non-null  object
 1   Accident.Number         88514 non-null  object
 2   Event.Date              88514 non-null  object
 3   Location                88514 non-null  object
 4   Country                 88514 non-null  object
 5   Latitude                88514 non-null  float64
 6   Longitude               88514 non-null  float64
 7   Airport.Name            88514 non-null  object
 8   Injury.Severity         88514 non-null  object
 9   Aircraft.damage         88514 non-null  object
 10  Aircraft.Category       88514 non-null  object
 11  Registration.Number     88514 non-null  object
 12  Make                    88514 non-null  object
 13  Amateur.Built           88514 non-null  object
 14  Number.of.Engines       88514 non-null  object
 15  Engine.Type             88514 non-null  object
 16  Purpose.of.flight       88514 non-null  object
 17  Air.carrier             88514 non-null  object
 18  Total.Fatal.Injuries    77203 non-null  float64
 19  Total.Serious.Injuries  76119 non-null  float64
 20  Total.Minor.Injuries    76701 non-null  float64
 21  Total.Uninjured         82688 non-null  float64
 22  Weather.Condition       88514 non-null  object
 23  Broad.phase.of.flight   88514 non-null  object
dtypes: float64(6), object(18)
memory usage: 16.9+ MB

In [ ]:
'Number.of.Engines' #mode